<div class="hero-header simple-banner" style="background: #0045e2 url(client-site/img/banner-55.png);">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="hero-content">
                    <h1>SEO Marketing Strategy</h1>
                    <p class="lead-i">Take my traffic quiz and get a customized advice that will walk you through how you can get more traffic.</p>
                </div>
            </div>
            <div class="col-sm-5 hidden-xs">
                <div class="hero-content">
                    <img src="client-site/img/2.png" class="img-responsive" alt="" />
                </div>
            </div>

        </div>
    </div>
</div>
