<nav>
    <div class="main-navbar">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="mainnav">
            <ul class="nav-menu custom-scrollbar">
                <li class="back-btn">
                    <a href="index.html"><img class="img-fluid" src="~/admin-site/images/logo/logo-icon.png" alt=""></a>
                    <div class="mobile-back text-right"><span>Back</span><i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                </li>
                @*<li class="sidebar-title">
                    <div>
                        <h6 class="lan-1">General</h6>
                        <p class="lan-2">Dashboards,widgets & layout.</p>
                    </div>
                </li>*@
                 <li class="dropdown"><a class="nav-link menu-title link-nav" href="/admin/home/index"><i data-feather="home"></i><span>Home</span></a></li>
                 <li class="dropdown"><a class="nav-link menu-title link-nav" href="/admin/permision/rolelist"><i data-feather="shield"></i><span>Role</span></a></li>
                 @*<li class="dropdown"><a class="nav-link menu-title link-nav" href="/admin/product/index"><i data-feather="product"> </i><span>Product</span></a></li>*@
            </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </div>
</nav>