<footer class="image-bg skin-dark-footer" style="background:#023ab9 url(client-site/img/app1.png) no-repeat">
    <div>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget">
                        <aside id="media_image-2" class="widget widget_media_image">
                            <a href="index.html">
                                <img src="client-site/img/logo-light.png" class="img-fluid mx-auto" alt="">
                            </a>
                        </aside>
                        <aside id="text-2" class="mt-1 widget widget_text">
                            <div class="textwidget">
                                <p class="mg-bottom-0 disable-color">© 2019 Virasat. Designd By <a href="https://themezhub.com">Themez Hub</a><br> All Rights Reserved</p>
                            </div>
                        </aside>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="row">

                        <div class="col-lg-4 col-md-4">
                            <div class="footer-widget">
                                <h4 class="widget-title">Useful links</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Digital Marketing</a></li>
                                    <li><a href="#">Business & Corporate</a></li>
                                    <li><a href="#">Landing Page</a></li>
                                    <li><a href="#">Hire & Dedicate</a></li>
                                    <li><a href="#">Software & App</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="footer-widget">
                                <h4 class="widget-title">Useful links</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Digital Marketing</a></li>
                                    <li><a href="#">Business & Corporate</a></li>
                                    <li><a href="#">Landing Page</a></li>
                                    <li><a href="#">Hire & Dedicate</a></li>
                                    <li><a href="#">Software & App</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="footer-widget">
                                <h4 class="widget-title">Useful links</h4>
                                <p>
                                    7744 North Park Place<br>
                                    San Francisco, CA 714258
                                </p>
                                <p>support@listinghub.com</p>
                                <p>777-444-2222</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <ul class="footer-bottom-social">
                        <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li><a href="#"><i class="fa fa-google-plus">Google+</i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i>Twiiter</a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i>Instagra</a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>