<section class="image-bg" style="background:#ffffff url(client-site/img/star-banner.png) no-repeat;">
    <div class="container">

        <div class="row">
            <div class="col text-center" data-aos="fade-down" data-aos-duration="1200">
                <div class="sec-heading mx-auto">
                    <h2>Get started instantly!</h2>
                    <p>For startups and growing businesses check virasat plan and package.</p>
                </div>
            </div>
        </div>

        <div class="newsletter-container">
            <div class="pr-contact-form-container" data-aos="fade-up" data-aos-duration="1200">

                <form method="post" class="newsletter-form">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter your email address">
                        </div>
                        <div class="col-sm-4">
                            <input type="submit" value="Request a quote" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
